.images {
  width: 10vw;
  height: 10vh;
  &:hover {
    opacity: 0.7;
    box-shadow: 6px 6px 4px #888888;
  }
  @media only screen and (max-width: 600px) {
    width: 20vw;
  }
}

.item {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  justify-content: center;
  gap: 10px;
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(3, 120px);
  }
}
