.input {
  padding: 5px;
  outline: none;
  font-size: 18px;
  margin-bottom: 30px;
  width: 200px;
  border: 1px solid darkblue;
}

.input-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
