$pagination-color: #2f3a90;
$pagination-selected: #333590;

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item {
  display: flex;
  border: 1px solid $pagination-color;
  border-right: none;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  min-width: 15px;
  &.selected {
    background-color: $pagination-selected;
    color: white;
  }
  &:last-child {
    border-right: 1px solid $pagination-color;
  }
  &:hover {
    background-color: #6788e2;
    color: white;
  }
}
