.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin: 0 10px;
    font-size: 10px;
    color: white;
  }
  .theme-switch {
    display: inline-block;
    height: 21px;
    position: relative;
    width: 40px;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 15px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 15px;
  }

  input:checked + .slider {
    background-color: #5870bb;
  }

  input:checked + .slider:before {
    transform: translateX(15px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
